
{{ define "main" }}
<h1>{{ .ID }}</h1>
{{ range .Versions }}
<section>
    <div>
        <h3>{{ .Num }}: {{ formatDate .Created }}</h3>
        <p>{{ .Message }}</p>
    </div>
    <div>
        {{ with .Files }}
            <ul>
            {{ range . }}
                <li>
                    <a href="{{ $.DownloadPath $digest }}" download="{{ basename .Name }}">{{ .Name }}</a>
                    <span>{{- $.DigestAlgorithm.ID -}}: {{ shortDigest $digest }}</span>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </div>
</section>
{{end }}

{{ end }}